{% extends "bigcommerce/settings/_layout" %}
{% import '_includes/forms.twig' as forms %}
{% set fullPageForm = true %}

{% do view.registerTranslations('bigcommerce', [
    "Topic",
    "Address"
]) %}

{% block content %}
    {% set headlessMode = craft.app.config.general.headlessMode %}
    {{ actionInput('bigcommerce/settings/save-settings') }}
    {{ redirectInput('bigcommerce/settings') }}

    <div id="products" class="hidden">

        {{ forms.editableTableField({
            label: "Routing Settings"|t('bigcommerce'),
            instructions: "Configure the product’s front-end routing settings."|t('bigcommerce'),
            id: 'routing',
            name: 'settings',
            cols: {
                uriFormat: {
                    type: 'singleline',
                    heading: "Product URI Format"|t('bigcommerce'),
                    info: "What product URIs should look like."|t('bigcommerce'),
                    placeholder: "Leave blank if products don’t have URLs"|t('bigcommerce'),
                    code: true
                },
                template: not headlessMode ? {
                    type: 'template',
                    heading: "Template"|t('app'),
                    info: "Which template should be loaded when a product’s URL is requested."|t('bigcommerce'),
                    code: true
                },
            }|filter,
            rows: {
                'routing': {
                    uriFormat: {
                        value: settings.uriFormat ?? null,
                        hasErrors: settings.hasErrors('uriFormat') ?? false
                    },
                    template: not headlessMode ? {
                        value: settings.template ?? null,
                        hasErrors: settings.hasErrors('template') ?? false,
                    }
                }
            },
            allowAdd: false,
            allowDelete: false,
            allowReorder: false,
            errors: []|unique
        }) }}

        {{ forms.fieldLayoutDesignerField({
            fieldLayout: settings.getProductFieldLayout(),
        }) }}
    </div>

    <div id="api">
        {{ forms.autosuggestField({
            first: true,
            label: 'API Client ID'|t('bigcommerce'),
            id: 'clientId',
            name: 'settings[clientId]',
            value: settings.clientId,
            errors: settings.getErrors('clientId'),
            suggestEnvVars: true,
            autofocus: true,
        }) }}

        {{ forms.autosuggestField({
            label: 'API Secret Key'|t('bigcommerce'),
            id: 'clientSecret',
            name: 'settings[clientSecret]',
            value: settings.clientSecret,
            errors: settings.getErrors('clientSecret'),
            suggestEnvVars: true,
        }) }}

        {{ forms.autosuggestField({
            label: 'Access Token'|t('bigcommerce'),
            id: 'accessToken',
            name: 'settings[accessToken]',
            value: settings.accessToken,
            errors: settings.getErrors('accessToken'),
            suggestEnvVars: true,
        }) }}

        {{ forms.autosuggestField({
            label: 'Store ID'|t('bigcommerce'),
            instructions: 'The BigCommerce store hash ID.'|t('bigcommerce'),
            id: 'storeHash',
            name: 'settings[storeHash]',
            value: settings.storeHash,
            errors: settings.getErrors('storeHash'),
            suggestEnvVars: true,
        }) }}

        {{ forms.autosuggestField({
            label: 'Webhook Base URL Override'|t('bigcommerce'),
            instructions: 'Override the base URL for webhooks. This is useful for local testing.'|t('bigcommerce'),
            id: 'webhookBaseUrl',
            name: 'settings[webhookBaseUrl]',
            value: settings.webhookBaseUrl,
            errors: settings.getErrors('webhookBaseUrl'),
            suggestEnvVars: true,
        }) }}

    </div>


{% endblock %}