{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/cp" %}
{% import '_includes/forms.twig' as forms %}
{% set selectedSubnavItem = 'webhooks' %}

{% set title = "Webhooks"|t('bigcommerce') %}

{% set navItems = {} %}

{% block content %}

    <h3>{{ "Webhook Management"|t('bigcommerce') }}</h3>

    <div class="{{ containsAllWebhooks ? 'hidden' : '' }}">
        <p>{{ "Create the webhooks for the current environment."|t('bigcommerce') }}</p>
        <form method="POST">
            {{ forms.textField({
                label: 'Base URL Override'|t('bigcommerce'),
                type: 'url',
                placeholder: 'https://example.ngrok.io',
                name: 'baseUrlOverride',
                instructions: 'You may use this field to override the base URL when creating webhooks. This is useful for local testing with ngrok.'|t('bigcommerce')
            }) }}
            {{ actionInput('bigcommerce/webhooks/create') }}
            {{ redirectInput('bigcommerce/webhooks') }}
            {{ csrfInput() }}
            <button class="btn primary" type="submit">{{ "Create"|t('bigcommerce') }}</button>
        </form>
    </div>

    {# Divs needed for the Admin Table js below #}
    <div class="field">
        <div id="webhooks-container">
        </div>
    </div>

    {% set tableData = [] %}
    {% for webhook in webhooks %}
        {% set tableData = tableData|merge([{
            id: webhook.id,
            title: webhook.scope,
            address: webhook.destination
        }]) %}
    {% endfor %}

    {% js %}
        var columns = [
        { name: '__slot:title', title: '{{ 'Topic'|t('bigcommerce') }}' },
        { name: 'address', title: '{{ 'URL'|t('bigcommerce') }}' }
        ];

        new Craft.VueAdminTable({
        fullPane: false,
        columns: columns,
        container: '#webhooks-container',
        deleteAction: 'bigcommerce/webhooks/delete',
        deleteConfirmationMessage: Craft.t('bigcommerce', "Are you sure you want to delete this webhook?"),
        deleteFailMessage: Craft.t('bigcommerce', "Webhook could not be deleted"),
        deleteSuccessMessage: Craft.t('bigcommerce', "Webhook deleted"),
        emptyMessage: Craft.t('bigcommerce', 'No webhooks exist yet.'),
        tableData: {{ tableData|json_encode|raw }},
        deleteCallback: function(){
        window.location.reload(); // We need to reload to get the create button showing again
        }
        });
    {% endjs %}
{% endblock %}

