{% extends 'bigcommerce/channels/_layout.twig' %}
{% import '_includes/forms.twig' as forms %}
{% set fullPageForm = false %}

{% set selectedSubnavItem = 'channels' %}

{% do view.registerTranslations('bigcommerce', [
]) %}
{% set title = 'New Channel'|t('bigcommerce') %}
{% if channel is defined and channel.id %}
    {% set title = 'Edit Channel'|t('bigcommerce') %}
{% endif %}

{% block content %}
    <div class="tab" id="settings">
        <form method="post">
            {{ csrfInput() }}
            {{ actionInput('bigcommerce/channels/save') }}
            {% if channel is defined and channel and channel.id is defined %}
                {{ hiddenInput('id', channel.id) }}
            {% endif %}
            {{ forms.textField({
                first: true,
                label: 'Channel Name'|t('bigcommerce'),
                instructions: 'Give the channel a descriptive name. This will be visible in BigCommerce.'|t('bigcommerce'),
                name: 'name',
                required: true,
                value: channel.name ?? null
            }) }}

            {{ forms.selectizeField({
                label: 'Status'|t('bigcommerce'),
                instructions: 'What is the status of the channel?'|t('bigcommerce'),
                name: 'status',
                required: true,
                options: statusOptions|map((v,k) => {label: v, value: k}),
                value: channel.status ?? null
            }) }}
            {{ forms.submitButton({}) }}
        </form>
    </div>
{% endblock %}