{% extends "_layouts/cp" %}
{% import '_includes/forms.twig' as forms %}
{% set fullPageForm = false %}

{% set selectedSubnavItem = 'channels' %}

{% do view.registerTranslations('bigcommerce', [
]) %}

{% if channel is defined and channel.id %}
{% set tabs = {
    settings: {
        label: 'Channel Settings',
        url: "#settings"
    },
    site: {
        label: 'Site Settings',
        url: '#site'
    }
} %}
{% endif %}

{% block content %}
    <div class="tab" id="settings">
        <form method="post">
            {{ csrfInput() }}
    {{ actionInput('bigcommerce/channels/save-channel') }}
    {% if channel is defined and channel and channel.id is defined %}
        {{ hiddenInput('id', channel.id) }}
    {% endif %}
    {{ forms.textField({
        first: true,
        label: 'Channel Name'|t('bigcommerce'),
        instructions: 'Give the channel a descriptive name. This will be visible in BigCommerce.'|t('bigcommerce'),
        name: 'name',
        required: true,
        value: channel.name ?? null
    }) }}

    {{ forms.selectizeField({
        label: 'Status'|t('bigcommerce'),
        instructions: 'What is the status of the channel?'|t('bigcommerce'),
        name: 'status',
        required: true,
        options: statusOptions|map((v,k) => {label: v, value: k}),
        value: channel.status ?? null
    }) }}
    {{ forms.submitButton({}) }}
        </form>
    </div>
    {% if channel is defined and channel.id and site is defined %}
    <div class="tab hidden" id="site">
        <form method="post">
            {{ actionInput('bigcommerce/channels/save-site') }}
            {{ csrfInput() }}
            {{ hiddenInput('channelId', channel.id) }}
            {{ forms.textField({
                type: 'url',
                required: true,
                label: 'Site URL'|t('bigcommerce'),
                instructions: 'Enter the URL for the site on this channel.'|t('bigcommerce'),
                name: 'url',
                value: site.url ?? null
            }) }}
            {% set buttonLabel = 'Create Site'|t('bigcommerce') %}
            {% if site.id is defined and site.id %}
            {% set buttonLabel = 'Update Site'|t('bigcommerce') %}
            {% endif %}
            {{ forms.submitButton({label: buttonLabel}) }}
        </form>
    </div>
    {% endif %}
{% endblock %}